<!DOCTYPE html>
<html>
<head>
    <title>ShopEase</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<nav>
    <h2>🛒 ShopEase</h2>
    <a href="/">Home</a>
    <a href="/products">Products</a>
    <a href="/login">Login</a>
    <a href="/signup">Signup</a>
    <a href="/cart">Cart</a>
</nav>

<div class="container">
    {% block content %}{% endblock %}
</div>
<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>