{% extends 'base.html' %}

{% block content %}

<h1 class="page-title">My Cart</h1>

<div id="cart-items"></div>

<h2 id="total"></h2>

<script>
let cart =
    JSON.parse(
        localStorage.getItem("cart")
    ) || [];

let html = "";
let total = 0;

cart.forEach(item=>{

    html += `
    <div class="cart-item">
        <h3>${item.name}</h3>
        <p>₹${item.price}</p>
    </div>
    `;

    total += item.price;
});

document.getElementById(
    "cart-items"
).innerHTML = html;

document.getElementById(
    "total"
).innerHTML =
"Total: ₹" + total;
</script>

{% endblock %}