{% extends 'base.html' %}

{% block content %}

<div class="details-container">

    <div class="product-image">
        <img src="{{ url_for('static',
        filename='images/laptop.jpg') }}">
    </div>

    <div class="product-info">

        <h1>ASUS Gaming Laptop</h1>

        <div class="rating">
            ⭐⭐⭐⭐⭐ (4.8)
        </div>

        <h2 class="price">
            ₹75,999
        </h2>

        <p>
            High performance gaming laptop
            with Intel i7 processor,
            RTX graphics card and
            16GB RAM.
        </p>

        <h3>Specifications</h3>

        <ul>
            <li>Processor: Intel i7</li>
            <li>RAM: 16GB</li>
            <li>Storage: 1TB SSD</li>
            <li>Display: 15.6 inch</li>
        </ul>

        <div class="quantity">

            Quantity:

            <input
                type="number"
                value="1"
                min="1">

        </div>

        <button class="cart-btn">
            Add To Cart
        </button>

        <button class="buy-btn">
            Buy Now
        </button>

    </div>

    <div class="order-box">

        <h3>Order Summary</h3>

        <p>Price: ₹75,999</p>

        <p>Delivery: Free</p>

        <hr>

        <h2>Total: ₹75,999</h2>

    </div>

</div>

{% endblock %}
<div class="stock">
    ✔ In Stock
</div>

<div class="delivery">
    🚚 Free delivery by Tomorrow
</div>

<div class="return">
    🔄 7 Days Replacement
</div>

<br>

<button class="wishlist-btn">
    ❤️ Add to Wishlist
</button>