*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Inter,sans-serif;
}

body{

background:#f5f5f5;

}

.navbar{

height:80px;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 60px;

background:white;

box-shadow:0 5px 20px rgba(0,0,0,.08);

position:sticky;

top:0;

z-index:1000;

}

.logo{

font-size:32px;

font-weight:700;

color:#0d6efd;

}

.search-box{

display:flex;

width:500px;

}

.search-box input{

width:100%;

padding:15px;

border:1px solid #ddd;

border-radius:40px 0 0 40px;

outline:none;

}

.search-box button{

padding:15px 25px;

border:none;

background:#0d6efd;

color:white;

border-radius:0 40px 40px 0;

cursor:pointer;

}

.menu{

display:flex;

list-style:none;

gap:30px;

}

.menu a{

text-decoration:none;

color:#333;

font-weight:600;

}

.icons{

display:flex;

gap:25px;

font-size:22px;

cursor:pointer;

}
/* HERO */

.hero{

height:90vh;

background:url("https://images.unsplash.com/photo-1607082348824-0a96f2a4b9da?auto=format&fit=crop&w=1800&q=80");

background-size:cover;

background-position:center;

position:relative;

display:flex;

align-items:center;

padding-left:100px;

}

.hero-overlay{

position:absolute;

top:0;

left:0;

right:0;

bottom:0;

background:rgba(0,0,0,.55);

}

.hero-content{

position:relative;

color:white;

max-width:650px;

z-index:2;

}

.offer{

display:inline-block;

padding:10px 18px;

background:#ff4d4d;

border-radius:30px;

font-weight:600;

margin-bottom:20px;

}

.hero h1{

font-size:64px;

line-height:1.1;

margin-bottom:25px;

}

.hero p{

font-size:20px;

color:#ddd;

margin-bottom:40px;

line-height:1.8;

}

.hero-buttons{

display:flex;

gap:20px;

}

.btn-primary{

background:#0d6efd;

padding:16px 40px;

border-radius:40px;

text-decoration:none;

color:white;

font-weight:bold;

transition:.3s;

}

.btn-primary:hover{

transform:translateY(-5px);

background:#004ecb;

}

.btn-secondary{

padding:16px 40px;

border:2px solid white;

border-radius:40px;

text-decoration:none;

color:white;

transition:.3s;

}

.btn-secondary:hover{

background:white;

color:black;

}
.categories{

padding:80px 100px;

background:#fff;

}

.categories h2{

text-align:center;

font-size:42px;

margin-bottom:50px;

}

.category-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

gap:30px;

}

.category-card{

background:white;

border-radius:20px;

overflow:hidden;

box-shadow:0 10px 30px rgba(0,0,0,.08);

transition:.3s;

cursor:pointer;

}

.category-card:hover{

transform:translateY(-10px);

}

.category-card img{

width:100%;

height:220px;

object-fit:cover;

}

.category-card h3{

padding:20px;

text-align:center;

font-size:24px;

}
.flash-sale{

padding:80px 100px;

background:#f8f9fa;

}

.sale-header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:40px;

}

.sale-header h2{

font-size:42px;

}

#countdown{

background:#0d6efd;

color:#fff;

padding:15px 30px;

border-radius:50px;

font-size:22px;

font-weight:bold;

}

.product-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(270px,1fr));

gap:30px;

}

.product-card{

background:#fff;

border-radius:20px;

overflow:hidden;

box-shadow:0 10px 25px rgba(0,0,0,.08);

transition:.3s;

position:relative;

}

.product-card:hover{

transform:translateY(-10px);

}

.discount{

position:absolute;

top:15px;

left:15px;

background:red;

color:white;

padding:8px 15px;

border-radius:20px;

font-weight:bold;

}

.product-card img{

width:100%;

height:250px;

object-fit:cover;

}

.product-card h3{

padding:15px;

}

.rating{

padding:0 15px;

color:orange;

}

.price{

padding:15px;

}

.new-price{

font-size:24px;

font-weight:bold;

color:#0d6efd;

}

.old-price{

text-decoration:line-through;

margin-left:10px;

color:gray;

}

.product-card button{

width:90%;

margin:15px;

padding:15px;

background:#0d6efd;

color:white;

border:none;

border-radius:10px;

cursor:pointer;

font-size:16px;

font-weight:bold;

.quantity{
    margin:20px 0;
}

.quantity input{
    width:70px;
    padding:8px;
    font-size:16px;
}

.cart-btn,
.buy-btn{
    padding:12px 25px;
    border:none;
    border-radius:8px;
    color:white;
    font-size:16px;
    cursor:pointer;
    margin-right:10px;
}

.cart-btn{
    background:#007bff;
}

.buy-btn{
    background:#28a745;
}

.order-box{
    width:250px;
    background:white;
    padding:20px;
    border-radius:15px;
    box-shadow:0 5px 20px rgba(0,0,0,0.1);
}

.order-box h3{
    margin-bottom:15px;
}

.order-box h2{
    color:green;
}
.stock{
    color:green;
    font-weight:bold;
    margin:10px 0;
}

.delivery{
    color:#007bff;
    margin:8px 0;
}

.return{
    color:#555;
    margin:8px 0;
}

.wishlist-btn{
    background:#ff4d6d;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:8px;
    cursor:pointer;
    margin-bottom:15px;
}
.cart-item{
    background:white;
    padding:20px;
    margin:20px;
    border-radius:10px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
}
.order-summary{
    width:300px;
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
    margin-top:30px;
}

.order-summary h2{
    margin-bottom:20px;
}

.order-summary p,
.order-summary h3{
    display:flex;
    justify-content:space-between;
    margin:15px 0;
}

.checkout-btn{
    width:100%;
    padding:12px;
    background:#28a745;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}
.checkout-container{
    width:400px;
    margin:auto;
    background:white;
    padding:30px;
    border-radius:10px;
}

.checkout-container input,
.checkout-container select{
    width:100%;
    padding:10px;
}

.checkout-container button{
    width:100%;
    padding:12px;
    background:green;
    color:white;
    border:none;
}
/* TESTIMONIALS */

.testimonials{
    padding:80px 8%;
    background:#f8f9ff;
    text-align:center;
}

.testimonials h2{
    font-size:42px;
    margin-bottom:40px;
}

.testimonial-grid{
    display:flex;
    gap:30px;
    justify-content:center;
    flex-wrap:wrap;
}

.testimonial-card{
    background:#fff;
    width:300px;
    padding:30px;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,0.1);
    transition:0.3s;
}

.testimonial-card:hover{
    transform:translateY(-10px);
}

.testimonial-card p{
    font-size:18px;
    color:#555;
}

.testimonial-card h4{
    margin-top:20px;
    color:#2563eb;
}

/* SUBSCRIBE */

.subscribe{
    background:linear-gradient(135deg,#2563eb,#4f46e5);
    color:white;
    text-align:center;
    padding:70px 20px;
}

.subscribe h2{
    font-size:40px;
}

.subscribe-box{
    margin-top:30px;
}

.subscribe-box input{
    width:350px;
    padding:15px;
    border:none;
    border-radius:30px;
}

.subscribe-box button{
    padding:15px 30px;
    border:none;
    background:white;
    color:#2563eb;
    border-radius:30px;
    font-weight:bold;
    cursor:pointer;
}

/* FOOTER */

.footer{
    background:#111827;
    color:white;
    padding:60px 8%;
}

.footer-grid{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}

.footer h3{
    margin-bottom:15px;
    color:#60a5fa;
}

.footer p{
    margin:10px 0;
    color:#d1d5db;
}
}
/* TESTIMONIALS */
.testimonials{
    padding: 80px 8%;
    background: #f8f9ff;
    text-align: center;
}

.testimonials h2{
    font-size: 42px;
    margin-bottom: 40px;
}

.testimonial-grid{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.testimonial-card{
    background: white;
    width: 300px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.testimonial-card:hover{
    transform: translateY(-10px);
}

.testimonial-card p{
    font-size: 16px;
    color: #555;
}

.testimonial-card h4{
    margin-top: 15px;
    color: #2563eb;
}

/* SUBSCRIBE */
.subscribe{
    padding: 80px 8%;
    text-align: center;
    background: linear-gradient(135deg,#2563eb,#4f46e5);
    color: white;
}

.subscribe h2{
    font-size: 40px;
}

.subscribe-box{
    margin-top: 25px;
}

.subscribe-box input{
    width: 300px;
    padding: 15px;
    border: none;
    border-radius: 10px;
}

.subscribe-box button{
    padding: 15px 25px;
    border: none;
    border-radius: 10px;
    background: white;
    color: #2563eb;
    font-weight: bold;
    margin-left: 10px;
}

/* FOOTER */
.footer{
    background: #111827;
    color: white;
    padding: 60px 8%;
}

.footer-grid{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer h3{
    margin-bottom: 15px;
}

.footer p{
    color: #d1d5db;
    margin: 8px 0;
}